@page "/Tasks"
@using Core.Models.Output.Bug
@inject HttpClient Http

@if (_tasks == null)
{
    <div class="col-12 bg-white shadow-sm">
        <Skeleton Active="true"></Skeleton>
    </div>
}
else
{
    <div class="col-12 mb-3">
        <h3>Tasks</h3>
    </div>
    <div class="col-12">
        @foreach (var task in _tasks)
        {
            <div class="shadow-sm mb-2 card border-0">
                <div class="card-body">
                    <div class="row">
                        <div class="col-2">
                            <h6 @onclick="() => ShowModal(task)">@task.Bug</h6>
                        </div>
                        <div class="col-2">
                            <a @onclick="() => DisplaySubTasks(task)"><Tag Style="cursor: pointer" Color="blue">Subtask: @task.SubTasks.Count</Tag></a>
                        </div>
                        <div class="col-2">
                            <Tooltip Placement="@PlacementType.TopLeft" Title="@task.Priority">
                                @if (task.Priority == "High")
                                {
                                    <Icon Type="flag" Style="font-size: 1.7em" Class="text-danger" Theme="outline"/>
                                } else if (task.Priority == "Medium")
                                {
                                    <Icon Type="flag" Style="font-size: 1.7em" Class="text-warning" Theme="outline"/>
                                }
                                else
                                {
                                    <Icon Type="flag" Style="font-size: 1.7em" Class="text-secondary" Theme="outline"/>
                                }
                            </Tooltip>
                        </div>
                        <div class="col-2">
                            <div class="row">
                                <Icon Type="comment" Style="font-size: 1.7em" Theme="outline"/>
                                <p style="font-weight: bold">@task.Comments.Count</p>
                            </div>
                        </div>

                        <div class="col-2">
                            <p style="font-weight: bold">Deadline: @task.Deadline</p>
                        </div>
                    </div>
                    @if ((Display && task.SubTasks.Count > 0) && Array.IndexOf(_tasks, task) == Index)
                    {
                        <hr>
                        <div class="">
                            <h6>Subtasks</h6>
                            <div class="col-12 pt-3 pl-3">
                                <Timeline>
                                    @foreach (var subtask in task.SubTasks)
                                    {
                                        <TimelineItem>@subtask.Task</TimelineItem>
                                    }
                                </Timeline>
                            </div>
                        </div>
                    }
                </div>
            </div>
        }
    </div>
}

<Modal Title="@("Title")"
       Centered="true"
       Visible="@_visible"
       OnCancel="@HideModal"
       Width="1320">
    <p>@Bug.Priority</p>
</Modal>

@code {
    bool _visible = false;
    private BugOutput[] _tasks;
    private BugOutput Bug { get; set; }

    protected override async Task OnInitializedAsync()
    {
        try
        {
            _tasks = await Http.GetFromJsonAsync<BugOutput[]>("api/bug");
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            throw;
        }
    }

    public bool Display = true;
    public int Index;

    public void DisplaySubTasks(BugOutput bug)
    {
        Display = !Display;
        Index = Array.IndexOf(_tasks, bug);
    }

    private void ShowModal(BugOutput bug)
    {
        _visible = true;
        Bug = bug;
    }

    private void HideModal()
    {
        _visible = false;
    }

}
